body {
    direction: rtl;
    font-family: 'Roboto', sans-serif;
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

#container {
    width: 40%;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgb(0, 0, 0, .4);
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    text-align: right;
}

h1 i {
    float: left;
}

.rotateButton {
    -ms-transform: rotate(50deg);
    /* IE 9 */
    -webkit-transform: rotate(50deg);
    /* Safari 3-8 */
    transform: rotate(50deg);
    webkit-transition-property: transform;
    /* Safari */
    -webkit-transition-duration: 1s;
    /* Safari */
    transition-property: transform;
    transition-duration: 1s;
}

input {
    padding: 13px 13px 13px 20px;
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    border: none;
    box-sizing: border-box;
    color: #2980b9;
    text-align: center;
    display: none;
}

select {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    color: #2980b9;
    text-align: center;
}

select:focus {
    background-color: white;
    border: 1px solid #2980b9;
}

option {
    text-align: center;
}

ul {
    list-style: none;
    ;
    margin: 0px;
    padding: 0px;
}

li {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
    text-align: right;
    font-weight: 900;
}

li:nth-child(2n) {
    background-color: #f7f7f7
}

li:active span {
    width: 40px;
    opacity: 1;
}

span {
    background-color: #e74c3c;
    height: 40px;
    margin-left: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

@media screen and (min-width: 480px) {
    body {}
    #container {
        width: 80%;
    }
    h1 {
        padding: 10px 20px;
        text-transform: uppercase;
        font-size: 48px;
        font-weight: bolder;
        text-align: center;
    }
    input {
        padding: 29px 29px 29px 39px;
        font-size: 48px;
        box-sizing: border-box;
        text-align: center;
        display: none;
        font-weight: 900;
    }
    select {
        font-size: 29px;
        background-color: #f7f7f7;
        width: 100%;
        padding: 0px;
        border: none;
        box-sizing: border-box;
        color: #2980b9;
        text-align: center;
        font-weight: 900;
        height: 100px;
    }
    li {
        height: 40px;
        color: #666;
        text-align: right;
        font-weight: 900;
        font-size: 39px;
        height: 100px;
        line-height: 250%;
    }
    span {
        background-color: #e74c3c;
        height: 100px;
        margin-left: 20px;
        text-align: center;
        color: white;
        width: 0;
        display: inline-block;
        transition: 0.2s linear;
        opacity: 0;
    }
    .delete {
        width: 100px;
        opacity: 1;
    }
}